/****** hosting And popular ***********/
.hosting-and-popular {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

/****** hosting ***********/
.hosting {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hosting-title {
    margin-bottom: 30px;
}

.hosting-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px
}

.hosting-cards_card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hosting-cards_card-img {
    height: 114px;
    object-fit: cover;
    width: 100%;
}

.hosting-cards_card-img_wrapper {
    border: 5px solid white;
    min-height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.hosting-cards_card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px 15px 15px 15px;
    height: 100%;
}

.hosting-cards_card-content .card-title {
    flex-grow: 1;
}

.card-rating {
    line-height: 1;
    font-size: 12px;
}

.hosting-plus {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
}

/****** popular ***********/
.popular {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards {
    display: grid;
    grid-template-rows: auto;
    margin-top: 30px;
    gap: 30px;
}

.popular-cards_card {
    display: flex;
    flex-direction: row;
}

.popular-cards_card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.popular-cards_card-img_wrapper {
    flex-shrink: 0;
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid white;
    overflow: hidden;
}

.popular-cards_card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 5px 10px 10px;
}

.popular-cards_card-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/****** Common ***********/
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
    font-size: 16px;
    margin: 0;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

@media (max-width: 1024px) {
    .hosting-and-popular {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .popular-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .popular-cards_card {
        height: 100%;
    }

    .popular-cards_card-img_wrapper {
        height: auto;
    }
}

@media (max-width: 767.98px) {
    .popular {
        order: 1;
        border-radius: 0;
        margin-top: 0;
        padding: 30px 20px;
    }

    .popular-cards {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .popular-cards_card-img_wrapper {
        height: 136px;
    }

    .hosting {
        order: 2;
        background-color: white;
        padding: 0 20px;
    }

    .hosting-cards {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .hosting-plus {
        margin-top: 15px;
    }

}