/****** Search ***********/
.search {
    margin-top: 30px;
}

.search-headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-title {
    font-size: 22px;
}

/****** Search bar ***********/
.search-bar {
    margin: 35px 0;
    display: flex;
    flex-direction: row;
    height: 49px;
}

.search-bar_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-bar_input {
    width: 190px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border: 1px solid var(--main-bg-color);
    padding: 0;
}

.search-bar_btn {
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid var(--main-color);
}

.search-bar_btn .fa-solid {
    color: white;
}

.search-bar_icon .fa-solid {
    color: black;
}

/****** Filters ***********/
.search-filters {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.search-filters_title {
    display: contents;
    font-size: 18px;
    font-weight: 700;
}

.search-filters_filter {
    font-size: 17px;
}

.search-filters_filter-input {
    /*the element (box to b check) is removed from the normal document flow.
    The element is positioned relative to its closest positioned ancestor */
    position: absolute;
    opacity: 0;
}

.search-filters_filter-label .fa-person {
    font-size: 22px;
}

.search-filters_filter-label {
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 46px;
    padding: 0 19px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
}

/* To check the label that contain the checkbox*/
.search-filters_filter-label:has(.search-filters_filter-input:checked) {
    background-color: #deebff;
}

.search-filters_filter-label:hover {
    background-color: #deebff;
}

.search-filters_filter-name {
    font-weight: 700;
}

.search-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px 0;
    gap: 10px;
}

.search-info_icon {
    font-size: 10px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
}

@media (max-width: 1024px) {
    .search-filters_title {
        display: initial;
        margin-bottom: 20px;
    }

    .search-filters_filter {
        font-size: 16px;
    }
}

@media (max-width: 767.98px) {
    .search {
        margin: 30px 20px;
    }

    .search-bar_icon {
        flex-shrink: 0;
    }

    .search-bar_btn {
        position: relative;
        border-radius: 15px;
        z-index: 2;
        margin-left: -47px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .search-bar_input {
        width: 100%;
        position: relative;
        z-index: 1;
        text-align: left;
        padding-left: 24px;
        padding-right: 71px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .search-filters {
        flex-wrap: wrap;
        gap: 10px;
        /* gap: 7px;
        padding: 0 13px; */
    }

    .search-filters_filter {
        font-size: 14px;
        display: flex;
        /* grow,shrink,basis*/
        flex: 1 0 calc(50% - 10px);
    }

    .search-filters_filter-label {
        flex-grow: 1;
        justify-content: start;
        /* gap: 7px;
        padding: 0 13px; */
    }

    .search-info_icon {
        flex-shrink: 0;
    }
}

/* Add media query to respect the degin at 375px 
and also respect the 2 columns on the min width at 320px.*/
@media (max-width: 348px) {
    .search-filters_filter-label {
        gap: 10px;
        padding: 0 15px;
    }
}

@media (max-width: 343px) {
    .search-filters_filter-label {
        gap: 7px;
        padding: 0 13px;
    }
}
